
#d3Map {
	padding-left: 200px;
	position: relative; 
	width: 1250px; 
	height: 600px;
}

#search-language {
	border-color: lightgrey;
	margin-left: 37.5%;
	margin-bottom: 15px;
	font-size: 25px;
	font-family: times;
	position: inline-block;
}

#search-country {
	margin-left: 5%;
	margin-bottom: 10px;
	border-color: lightgrey;	
	font-size: 25px;
	font-family: times;
	position: inline-block;
}

form {
	float: left;
}

#extraspacing {
	height: 500px;
}