
#map {
	padding-left: 90px;
}

#search-language {
	border-color: lightgrey;
	margin-left: 37.5%;
	margin-bottom: 15px;
	font-size: 25px;
	font-family: times;
	position: inline-block;
}

#search-country {
	margin-left: 5%;
	margin-bottom: 10px;
	border-color: lightgrey;	
	font-size: 25px;
	font-family: times;
	position: inline-block;
}

form {
	float: left;
}

#bigquery {
	height: 20px;
}